---
import Nav from '../components/common/Nav.astro'
import Header from '../components/common/Header.astro'
---

<html lang="en">
  <Header />

	<body class="bg-white dark:bg-kuro-700">
    <Nav active="/explore" />
  </body>
</html>