---
	import Nav from '../components/common/Nav.astro'
	import Header from '../components/common/Header.astro'
---

<html lang="en">
	<Header />
	<!-- <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head> -->
	<body class="bg-white dark:bg-kuro-700">
		<Nav active="/"/>
		<h1 class="text-4xl text-center m-4 font-bold text-kuro-700 dark:text-white font-['Manrope']">
			Learning comes from Developing and Sharing.
		</h1>
	</body>
</html>
