---
import Nav from '../components/common/Nav.astro'
import Header from '../components/common/Header.astro'
---

<html lang="en">
<Header />

	<body class="bg-[#f6f8fa] dark:bg-[#313139]">
  <Nav active="/projects" />
</body>
</html>